name: deploy

on:
  push:
    branches: [master]
env:
  CI: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ssh-key: ${{ secrets.deploykey }}
    - uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: install
      run: npm install
    - name: configure git user
      run: |
        git config user.email "actions@github.com"
        git config user.name actions
    - run: npm run deploy
